.leaderboardWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* overflow-y: auto; */
  max-height: calc(100vh - 200px);
  border-radius: 12px;
  padding-right: 4px;
}

.leaderboardWrapper::-webkit-scrollbar {
  width: 5px;
}

.leaderboardWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.leaderboardWrapper::-webkit-scrollbar-thumb {
  background: #7ac100;
  border-radius: 2px;
}

.leaderboardCard {
  display: grid;
  gap: 66px;
  grid-template-columns: 100px 1fr 170px 100px;
  padding: 16px 20px;
  background: #fff;
  border-radius: 12px;
  font-size: 24px;
}

.leaderboardText {
  font-family: StratosSkyeng;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  user-select: none;
}

.leaderboardCardTitle {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 20px;
  margin-right: 4px;
}

.leaderboardTitleText {
  color: rgb(153, 153, 153);
}
